.example {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.animation__1 {
  position: relative;
  width: 100px;
  height: 100px;
  background: #f00;
  animation: animation__1 2s infinite alternate;
}

@keyframes animation__1 {
  0% {
    background: #f00;
  }
  100% {
    background: #0f0;
  }
}

.animation__2 {
  width: 100px;
  height: 100px;
  background: #f00;
  animation: animation__2 2s infinite alternate;
  transform: scale(1, 1);
  transform-origin: top left;
}

@keyframes animation__2 {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(2, 2);
  }
}
