@mixin leftText($inDelay, $outDelay) {
  transform: translateY(-100%);
  -webkit-mask-image: linear-gradient(to right, black 50%, transparent 50%);
  mask-image: linear-gradient(to right, black 50%, transparent 50%);
  animation: inTop 0.2s ease-out $inDelay forwards,
    outTop 0.2s ease-in $outDelay forwards;
}

@mixin rightText($inDelay, $outDelay) {
  transform: translateY(100%);
  -webkit-mask-image: linear-gradient(to left, black 50%, transparent 50%);
  mask-image: linear-gradient(to left, black 50%, transparent 50%);
  animation: inDown 0.2s ease-out $inDelay forwards,
    outDown 0.2s ease-in $outDelay forwards;
}

@mixin rotate() {
  animation: rotate1 0.2s ease-in-out 0.2s forwards,
    rotate2 0.2s ease-in-out 0.6s forwards,
    rotate3 0.2s ease-in-out 1.1s forwards,
    rotate4 0.2s ease-in-out 1.6s forwards,
    rotate5 0.2s ease-in-out 2.1s forwards;
}

.animation3 {
  .text__wrap {
    position: relative;
    width: 10rem;
    height: 10rem;
    border: solid 0.5rem #aaa;
    background: #242424;
    overflow: hidden;
    z-index: 1;

    & > .text {
      top: 0;
      left: 0;
      position: absolute;
      font-size: 10rem;
      letter-spacing: 0;
      line-height: 1;
      font-weight: bold;

      &:nth-child(1) {
        @include leftText(0.2s, 0.6s);
      }
      &:nth-child(2) {
        @include rightText(0.2s, 0.6s);
      }

      &:nth-child(3) {
        @include leftText(0.7s, 1.1s);
      }
      &:nth-child(4) {
        @include rightText(0.7s, 1.1s);
      }

      &:nth-child(5) {
        @include leftText(1.2s, 1.6s);
      }
      &:nth-child(6) {
        @include rightText(1.2s, 1.6s);
      }
      &:nth-child(7) {
        @include leftText(1.7s, 2.1s);
      }
      &:nth-child(8) {
        @include rightText(1.7s, 2.1s);
      }
    }
  }

  & > .background {
    width: 200vw;
    height: 100vh;
    position: absolute;

    &:nth-child(3) {
      background: #222;
      top: -50%;
      left: -50%;
      transform-origin: center bottom;
      rotate: 0deg;
      @include rotate();
    }

    &:nth-child(2) {
      background: #444;
      top: 50%;
      left: -50%;
      transform-origin: center top;
      @include rotate();
    }
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes rotate4 {
  0% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes rotate5 {
  0% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(900deg);
  }
}

@keyframes inTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes outTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes inDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes outDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
